@model Monitor.Domain.ViewModels.Sistema.DetalhesSistemaViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Sistema do Monitoramento</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            <label class="control-label">Ambiente</label>                
        </dt>
        <dd class="col-sm-8">
            <label name="nomeAmbiente">@ViewBag.nomeAmbiente</label>
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Handle)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Handle)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.MonitoramentoAtivo)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MonitoramentoAtivo)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.UrlConsultaProcessos)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UrlConsultaProcessos)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.UrlConsultaInformacoes)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UrlConsultaInformacoes)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.UpdateDateTime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UpdateDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Handle" asp-route-handleAmbiente="@ViewBag.handleAmbiente" asp-route-nomeAmbiente="@ViewBag.nomeAmbiente">Editar</a> |
    <a asp-controller="endpointview" asp-action="index" asp-route-handleSistema="@Model.Handle" asp-route-nomeSistema="@Model.Nome">Endpoints</a> |
    <a asp-action="Index" asp-route-handleAmbiente="@ViewBag.handleAmbiente" asp-route-nomeAmbiente="@ViewBag.nomeAmbiente">Voltar para a lista de sistemas</a>
</div>