@model Monitor.Domain.ViewModels.Ambiente.DetalhesAmbienteViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Ambiente do Monitoramento</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Handle)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Handle)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.IntervaloSegundosWebServiceChecks)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.IntervaloSegundosWebServiceChecks)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.MonitoramentoAtivo)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MonitoramentoAtivo)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.QuantidadeChecagensConsiderarStatusWebService)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.QuantidadeChecagensConsiderarStatusWebService)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.QuantidadeDiasExcluirDados)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.QuantidadeDiasExcluirDados)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.TimeoutMilissegundosWebServiceChecks)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TimeoutMilissegundosWebServiceChecks)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.UpdateDateTime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UpdateDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Handle">Editar</a> |
    <a asp-action="Index">Voltar para a lista de ambientes</a>
</div>

